* {
    padding: 0;
    margin: 0;
}

#eren {
    width: 200px;
    margin: 50px auto;
}

#eren .head {
    width: 100%;
    animation: spin-head 3s linear infinite;
}

#eren .head img {
    display: block;
    width: 100%;
}

.loading{
    text-align: center;
    font-family: monospace
}

@keyframes spin-head {
    0% {
        transform: rotate3d(0, 1, 0, 360deg);
    }

    50% {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, 0deg);
    }

    /* 100%{
        transform: rotate(360deg)
    } */
}
